<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Harvest Daily Timers</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
  <link rel="stylesheet/less" href="/css/site.less">
  <script src="/js/less.js"></script>
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Timers</a></li>
      <li><a href="/target-hours">Target Hours</a></li>
    </ul>
  </nav>
  {% block content %}{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
