{
    "harvest": {
        "url": "http://YOUR_COMPANY.harvestapp.com/",
        "userId": 123456
        "username": "YOUR_EMAIL",
        "password": "YOUR_PASSWORD"
    },
    "cache": {
        "path": "/tmp/harvest.cache",
        "expiry": 600
    },
    "holidays": [
        "2015-12-24"
    ]
}
