@black: black;
@silver: rgb(150, 150, 150);
@pale-blue: rgba(200, 200, 255, 0.2);

@nav-hover-background: @pale-blue;

@event-border-color: #ddd;
@event-active-border-color: blue;
@event-latest-background-color: @pale-blue;
@event-text-color: @silver;
@project-text-color: @black;

@active-timer-color: blue;

html, body {
  font-family: "Helvetica Neue", "Arial", sans-serif;
}

nav ul {
  list-style: none;

  li {
    display: inline-block;

    a {
      border: 1px solid silver;
      padding: 0.5rem;
      text-decoration: none;

      &:link, &:visited {
        color: black;
      }

      &:hover {
        background: @nav-hover-background;
        border-color: #5555ff;
      }
    }
  }
}


.box-shadow (@color) {
  -webkit-box-shadow: 5px 5px 5px 0px @color;
  -moz-box-shadow:    5px 5px 5px 0px @color;
  box-shadow:         5px 5px 5px 0px @color;
}

.entry {
  border: 1px solid @event-border-color;
  border-left-width: 5px;

  .box-shadow(fadeout(@event-border-color, 40%));
  width: 450px;
  position: relative;
  margin: 5px auto;
  padding: 10px;
  font-size: small;
  color: @event-text-color;

  &.latest-entry {
    background-color: @event-latest-background-color;
  }

  &.active {
    border-left-color: @event-active-border-color;
  }

  .client {
    font-weight: bold;
  }

  .project {
    color: @project-text-color;
    font-size: large;
    font-weight: bold;
  }

  .task {
    font-weight: bold;
  }

  .created-date {
    margin-top: 5px;
  }

  .updated-date {
    margin-bottom: 5px;
  }

  .notes {
  }

  .timer {
    font-size: x-large;
    position: absolute;
    right: 5px;
    top: 15px;

    &.active {
      color: @active-timer-color;
    }
  }

  .interruptions {
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 3px;
    font-size: x-small;
    color: blue;
  }

  .toggle {
    display: inline-block;
    width: 25px;
    height: 25px;
    line-height: 25px;

    text-indent: 5px;
    text-align: center;

    border: 1px solid silver;
    border-radius: 25px;
    position: absolute;
    right: 15px;
    bottom: 20px;

    &:hover {
      color: @active-timer-color;
      border-color: @active-timer-color;
    }

    .start {
      font-size: large;
    }

    .stop {
      text-indent: 2px;
      font-size: x-large;
      margin-top: -2px;
    }

    a {
      text-decoration: none;
      color: inherit;
    }
  }
}
