{% extends 'templates/default.html.twig' %}

{% block content %}
    <div class="error">
        <h2>Unhandled Exception</h2>
        <p>{{ exception.getMessage }}</p>
        <pre>{{ exception.getTraceAsString }}
    </div>
{% endblock %}
